{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}

<body>
    <div class="container-fluid cont">
        <h2>My Collection !</h2>
        <!-- loop through all the images -->
    
        <div class="row">
            {% for pic in photoapp %}
            <div class="col-md-4">
                <div class="cont">
                    <a href="#"><div class=""><img src="{{ pic.image.url }}" alt="" class="responsive"></div>
                    </a>
                    <div class="n"> 
                        <h3>{{ pic.title }}</h3>
                        <h3>{{ pic.location }}</h3>
                        <h3>{{ pic.category.name }}</h3>
          
                    </div>            
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</body>

{% endblock %}