{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}

<body>
    <div class="container-fluid cont">
        <h2>My Gallery !</h2>
        <!-- loop through all the images -->
    
        <div class="row">
            {% for pic in photoapp %}
            <div class="col-md-4">
                <div class="cont">
                    <div class=""><img src="{{ pic.image.url }}" alt="" class="responsive"></div>
                    
                    <div class="n"> 
                        <a href="#"><h3>{{ pic.title }}</h3></a>
          
                    </div>            
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</body>

{% endblock %}