{%extends 'all-photos/base.html'%}

 {% block content %}

 <div class="row">
  {% for photo in images %}
  <!-- Gallery Photo item start -->
  <div class="col-xl-3 col-lg-4 col-md-12 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{ photo.image.url }}" alt=""
              class="img-fluid card-img-top">
          <div class="p-4">
                      {{ photo.name }}
                  </a></h5>
                  <div>
                      <small class="text-muted">
                          <span class="badge rounded-pill bg-info text-white text-capitalize">
                              {{photo.category }}
                          </span>
                      </small>
                  </div>

                  {% endfor %}
                </div>
            </div>
            
        </body>
        
        {% endblock %}
