{%extends 'all-photos/base.html'%} 
{% block content %}
<div class="container">

  <div class="row search">
    {% if photos%}
      <h2>Found {{ photos|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 photos for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if photos %}
    {% for photos in photos %}
    <div class="cont images">
      <div class = "" data-toggle ="modal" data-target="#showPicModal{{pic.id}}">
          <img src="{{photos.image.url}}" alt="" class="responsive">
      </div>
      <div class=""><h3>Title : <span>{{ photos.title }}</span></h3></div>
      <div class="row"> 
          <div class="col-md-6"><h4>Location : <span>{{ photos.location }}</span></h3></div>
          <div class="col-md-6"><h4>Category : <span>{{ photos.category }}</span></h3></div>
      </div>            
  </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}

