{%extends 'all-photos/base.html'%} 
{% block content %}
<div class="container">

  <div class="row search">
    {% if photos%}
      <h2>Found {{ photos|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 photos for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if photos %}
    {% for photos in photos %}
      <div class="col-sm-6 col-md-4">
          <h3>{{photos.title}}</h3>
          <div class=""><img src="{{ photos.image.url }}" alt="" class="responsive"></div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}

