@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lato:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lato:wght@700&family=Permanent+Marker&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lato:wght@700&family=Permanent+Marker&family=Poppins&family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lato:wght@700&family=Nosifer&family=Permanent+Marker&family=Poppins&family=Shojumaru&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.navi a{
    color: white;
}

h2{
    color: crimson;
    font-family: 'Nosifer', cursive;
    text-align: center;
    margin: 2rem 0rem;
}

.responsive{
    height: 90%;
    width: 100%;
}
.disciple{
   font-family: 'Permanent Marker', cursive;
}

h3{
    font-family: 'Permanent Marker', cursive;
}

.search{
    margin-top: 3rem;
}

.img-details{
    width: 600px;

}
a{
    font-size: large;
    gap: 10px;

}
.images{
    text-align: center;
    padding: 0.7rem;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2 ), 0 0 5px rgba(0, 0, 0, 0.2), 0 0 7px rgba(0, 0, 0, 0.3);
}
.images h3{
    margin-left: 10px;

}
.images span{
    color: crimson;
}

.locations{
    margin-top: 3rem;
    text-align: center;
}
.tag{
    margin-left: 10px;
}
.locations h2{
    color: black;
    margin-bottom: 1rem;
}
.locations a{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    padding: 13px 10px;
}
.mode span{
    color: crimson;
}